/* #region NAVBAR */

#bk-nav-logo {
    /* width: 100%; */
    width: auto;
    max-height: 90px;
}

.nav-transparent {
    background-color: rgba(255,255,255,.40) !important;
    /* border-radius: 50px 50px 5px 5px; */
}

.navbar-toggler-color {
    background-color: rgba(255,255,255,0.5) !important;
    border: 1px solid rgba(0, 0, 0, 0.8) !important;
}

.bg-dropdown-menu {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.navbar-white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link-override {
    color: white !important;
    font-size: 3vw;
    text-shadow: 2px 2px 0px rgb(68, 68, 68);
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-white .nav-text a:hover {
    border-bottom: 3px solid rgba(20, 20, 20, 0.5);
}

.navbar-white a.active {
    border-bottom: 3px solid rgb(0, 82, 97);
}

#navbar .container {
    max-height: 90px;
}

#bk-nav-logo-min {
    width: 14vw;
}

/* #endregion NABAR */

/* #region  ACCORDION */

#accordion {
    width: 50%;
    margin: 0 auto;
}

.myaccordion {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
   
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
   
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
   
  .myaccordion .fa-stack {
    font-size: 18px;
  }
   
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
   
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
   
  .myaccordion li + li {
    margin-top: 10px;
  }

  .accordionMargin {
      margin-top: 2rem !important;
  }

  #accordionBreakfast {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  #accordionLunch {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  #accordionBeverage {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

/* #endregion ACCORDION */

/* #region UNUSED (I think...) */


/* .grid-container { 
    display: grid;
    width: auto;
    grid-template-columns: fit-content(30%) fit-content(40%) fit-content(40%);
} */

/* .flex-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
} */

    /* .flex-menu > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    vertical-align: 50%;
}  */

/* .navbar-light .navbar-nav li.active::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    content: " ";
    color: #F4C127;
    border-bottom: 5px solid #F4C127;
  } */

/* .menu-card-size {
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
} */

/* .active-color {
    color: #f1f1f1 !important;
    background-color: rgb(0, 168, 50) !important;
    border-color: rgb(0, 124, 37) !important;
}  */

/* #endregion UNUSED (probably...) */

#loremPadding {
    margin: auto;
    margin-top: 50px;
}