/* #region NAVBAR */

nav {
  transition: 750ms ease;
}

#bk-nav-logo {
    /* width: 100%; */
    width: auto;
    max-height: 90px;
}

.nav-transparent {
    background-color: rgba(255,255,255,.4) !important;
}

.navbar-toggler-color {
    /* background-color: rgba(255,255,255,0.5) !important; */
    border: 1px solid rgba(0, 0, 0, 0.8) !important;
}

.navbar-white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link-override {
    transition: 750ms ease;
    color: white !important;
    font-size: 3vw;
    font-weight: 600;
    text-shadow: 0.2vw 0.2vw 0px rgb(68, 68, 68);
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-white .nav-text a:hover {
    transition: 400ms ease;
    border-bottom: 3px solid rgba(20, 20, 20, 0.5);
}

.navbar-white a.active {
    border-bottom: 3px solid rgb(0, 82, 97);
}

#navbar .container {
    max-height: 90px;
}

#bk-nav-logo-min {
  transition: 750ms ease;
  height: 100px;
}

.shrink {
  transition: 750ms ease;
  background-color: rgba(255, 255, 255, 0.80) !important;
  max-height: 50px;
}

.shrinkLogo {
  transition: 750ms ease;
  max-height: 50px;
}

.shrinkLink {
  transition: 750ms ease;
  color: black !important;
  font-size: 3vw;
  text-shadow: none;
}

/* SMALL SCREEN ADJUSTMENT */
@media (max-width:575px){
  .bg-dropdown-menu {
      background-color: rgba(255, 255, 255, 0.9) !important;
      text-align: center;
      font-weight: 800;
      border-radius: 2%;
  }
  nav {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  #bk-nav-logo-min {
    margin: -30px 0 -30px 0;
    max-height: 12vw;
  }
  .nav-link-override {
    font-size: 5vw;
    color: #000 !important;
    text-shadow: none;
  }
}

/* #endregion NABAR */

/* #region CAROUSEL */

.carousel-caption h5 {
  font-weight: 500 !important;
  text-shadow: 2px 2px 0px rgb(68, 68, 68) !important;
}

.carouselAddress {
  text-shadow: 2px 2px 0px rgb(68, 68, 68);
  font-size: 2vw;
}

.carousel-caption a:link{
  text-shadow: 2px 2px 0px rgb(68, 68, 68);
  font-size: 4vw;
  color: white !important;
}

/* #endregion CAROUSEL */

/* #region  MENU */

#accordion {
    width: 50vw;
    margin: 0 auto;
}

@media (max-width:850px) {
  #accordion {
    width:70vw;
  }
}

@media (max-width:550px) {
  #accordion {
    width:90vw;
  }
}

.myaccordion {
    /* max-width: 500px; */
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
   
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
   
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
   
  .myaccordion .fa-stack {
    font-size: 18px;
  }
   
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
   
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
   
  .myaccordion li + li {
    margin-top: 10px;
  }

  .accordionMargin {
      margin-top: 2rem !important;
  }

  #accordionBreakfast {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  #accordionLunch {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  #accordionBeverage {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

#accordion .mb-0:hover {
  opacity: 0.7;
}

/* #endregion ACCORDION */

/* #region ABOUT */

#about {
  width: 60vw;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0.5vw 0.5vw 1vw 0vw;
}
@media (max-width:850px) {
  #about {
    width:90vw;
  }
}

#aboutDescription > p {
  margin: 0vw 5vw 1vw 5vw;
}

.ruleItems {
  font-weight: 600;
}

/* #endregion ABOUT */

/* #region EVENTS */
#eventsInfo {
  margin-top:50px;
  padding: 0 5vw  5vw;
}
/* #endregion EVENTS */

/* #region NEWS */

#newsArticles {
  padding-top: 50px;
}

#newsHeader {
  font-size: 5vw;
  font-weight: 350;
}

.newsHeadings {
  font-size: 2.5vw;
  font-weight: 250;
}

.newsLinks {
  font-size: 1.5vw;
  text-align: center;
  padding: 0 1vw 0 1vw;
}

@media (min-width:901px){
  #newsHeader:hover {
    font-weight: 450;
  }
}

/* 550px - 900px */
@media (max-width: 900px){
  #newsHeader {
    font-size: 7vw;
    font-weight: 350;
  }

  .newsHeadings {
    font-size: 4vw;
    font-weight: 250;
  }

  .newsLinks {
    font-size: 3vw;
    text-align: center;
    padding: 0 1vw 0 1vw;
  }
}

/* 0 - 549px */
@media (max-width: 549px){
  #newsHeader {
    font-size: 8vw;
    font-weight: 350;
  }

  .newsHeadings {
    font-size: 5vw;
    font-weight: 250;
  }

  .newsLinks {
    font-size: 4vw;
    text-align: center;
    padding: 0 1vw 0 1vw;
  }
}



#ytVids {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ytVids > iframe {
  padding: 1vw 1vw 0 1vw;
}

/* .frameStyle {
  float:center;
} */

/* #endregion NEWS */

/* #region CONTACT */

#mapContainer {
  text-align: center;
}

#facadeImg {
  max-width: 80vw;
  justify-content: center;
  padding-bottom: 10px;
}

#contactContainer {
  display: grid;
  grid-gap: 5vw 5vw;
  grid-template-columns: auto auto;
  padding: 10px;
}

#contactLeft {
  text-align: left;
  padding-left: 15vw;
}

#contactRight {
  text-align: right;
  padding-right: 15vw;
  padding-top: 1vw;
}

@media (max-width: 700px) {
  #contactLeft {
    padding-left: 5vw;
  }
  #contactRight {
    padding-right: 5vw;
  }
}


/* #endregion CONTACT */

/* #region SOCIAL MEDIA */

i.fa-thumbs-up {
  color:white;
  padding: 10px;
  border-radius: 20%;
  background-color: #3C5A99;
}

i.fa-thumbs-up:hover {
  opacity: 0.7;
}

i.fa-yelp {
  color:white;
  padding: 10px;
  border-radius: 20%;
  background-color: #d32323;
}

i.fa-yelp:hover {
  opacity: 0.7;
}

/* #endregion SOCIAL MEDIA */

